In [1]:
#import libraries
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
%matplotlib notebook
pd.set_option('display.precision', 2)

In [3]:
#Load Processed North East Distribution Centre Data
df = pd.read_csv(r'DC_data_processed.csv')

#Weight distribution centres by stage of development
existing_weight = 1
pipeline_weight = 0
land_weight = 0

df['wmsf'] = np.where(df['Category'] == 'Occupied', df['msf'] * existing_weight, np.where(df['Category'] == 'Pipeline', df['msf'] * pipeline_weight, df['msf'] * land_weight))

df

,Unnamed: 0,PostCode,Category,PostCode_District,PC_Area,msf,wmsf,latitude_x,longitude_x,latitude_y,...,Wakefield_distance,Wakefield_time,Teesport_distance,Teesport_time,East Midlands Gateway_distance,East Midlands Gateway_time,Goole_distance,Goole_time,Hatfield_distance,Hatfield_time
0,0,LS28 6DW,Occupied,LS28,LS,0.21,0.21,53.81,-1.67,53.81,...,17.83,30.80,82.22,119.42,84.49,93.33,39.71,51.45,43.12,51.83
1,1,S35 1QP,Occupied,S35,S,0.35,0.35,53.45,-1.45,53.45,...,28.93,34.22,97.70,124.92,52.23,55.40,40.74,45.80,31.20,34.60
2,2,DE6 3ET,Occupied,DE6,DE,0.21,0.21,53.01,-1.61,53.01,...,70.59,94.58,137.50,184.95,28.26,47.32,69.56,92.30,60.03,81.10
3,3,DE72 2HP,Occupied,DE72,DE,0.60,0.60,52.87,-1.31,52.87,...,74.80,80.38,141.71,170.75,4.08,9.78,73.77,78.10,64.24,66.90
4,4,DL3 0UW,Occupied,DL3,DL,0.38,0.38,54.55,-1.57,54.55,...,71.62,74.37,31.73,58.32,135.11,137.67,85.02,88.37,88.44,88.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,269,DN8 5HT,Land,DN8,DN,3.52,0.00,53.61,-0.95,53.61,...,25.26,30.08,92.32,120.78,65.10,69.37,10.70,18.22,4.41,9.42
270,270,DN9 3AN,Land,DN9,DN,0.34,0.00,53.50,-0.99,53.50,...,34.18,41.20,101.24,131.90,58.64,65.90,19.46,29.33,8.39,17.82
271,271,S9 1QQ,Land,S9,S,0.17,0.00,53.42,-1.39,53.42,...,32.18,38.82,100.95,129.52,48.71,52.82,37.22,43.22,27.69,32.02
272,272,DN31 2UT,Land,DN31,DN,1.20,0.00,53.58,-0.11,53.58,...,64.92,68.28,131.99,158.98,101.33,104.97,50.20,56.42,40.65,45.02
273,273,DN17 3DA,Land,DN17,DN,0.11,0.00,53.59,-0.73,53.59,...,38.39,42.15,105.45,132.85,74.79,78.83,23.67,30.28,14.10,18.88

In [4]:
#Set up terminal options
data = [['FL Leeds', 53.7673, -1.5062, (5,5)], ['FL Doncaster', 53.508157, -1.125958, (5,5)], ['iPort', 53.48247871041433,-1.1087608337402344, (5,-5)], ['Tinsley', 53.4011002,-1.3850275, (5,5)], ['Gascoigne Wood', 53.7780692,-1.2133953,  (5,5)], ['Wakefield', 53.71375,-1.4077798, (5,5)],  ['Teesport', 54.602699,-1.1465941,  (5,5)], ['East Midlands Gateway', 52.8380088,-1.3067932, (5,5)], ['Goole', 53.700448, -0.882403, (5,5)], ['Hatfield', 53.592417, -1.020067, (5,5)]]
fl = [['FL Leeds', 53.7673, -1.5062, (5,5)], ['FL Doncaster', 53.508157, -1.125958, (5,5)]]  
# Create the pandas DataFrame
all_locations = pd.DataFrame(data, columns=['Terminal', 'Lat', 'Long', 'map_offset'])  
all_locations

                Terminal    Lat  Long map_offset
0               FL Leeds  53.77 -1.51     (5, 5)
1           FL Doncaster  53.51 -1.13     (5, 5)
2                  iPort  53.48 -1.11    (5, -5)
3                Tinsley  53.40 -1.39     (5, 5)
4         Gascoigne Wood  53.78 -1.21     (5, 5)
5              Wakefield  53.71 -1.41     (5, 5)
6               Teesport  54.60 -1.15     (5, 5)
7  East Midlands Gateway  52.84 -1.31     (5, 5)
8                  Goole  53.70 -0.88     (5, 5)
9               Hatfield  53.59 -1.02     (5, 5)

In [5]:
df1 = df
for terminal in all_locations['Terminal']:
    df1[terminal + '_band'] = (df1[terminal + '_distance'] - df1[terminal + '_distance'].mod(10))/10
df1

,Unnamed: 0,PostCode,Category,PostCode_District,PC_Area,msf,wmsf,latitude_x,longitude_x,latitude_y,...,FL Leeds_band,FL Doncaster_band,iPort_band,Tinsley_band,Gascoigne Wood_band,Wakefield_band,Teesport_band,East Midlands Gateway_band,Goole_band,Hatfield_band
0,0,LS28 6DW,Occupied,LS28,LS,0.21,0.21,53.81,-1.67,53.81,...,0.0,4.0,4.0,4.0,2.0,1.0,8.0,8.0,3.0,4.0
1,1,S35 1QP,Occupied,S35,S,0.35,0.35,53.45,-1.45,53.45,...,2.0,2.0,2.0,0.0,3.0,2.0,9.0,5.0,4.0,3.0
2,2,DE6 3ET,Occupied,DE6,DE,0.21,0.21,53.01,-1.61,53.01,...,7.0,5.0,5.0,4.0,7.0,7.0,13.0,2.0,6.0,6.0
3,3,DE72 2HP,Occupied,DE72,DE,0.60,0.60,52.87,-1.31,52.87,...,7.0,5.0,5.0,4.0,7.0,7.0,14.0,0.0,7.0,6.0
4,4,DL3 0UW,Occupied,DL3,DL,0.38,0.38,54.55,-1.57,54.55,...,6.0,8.0,8.0,9.0,6.0,7.0,3.0,13.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,269,DN8 5HT,Land,DN8,DN,3.52,0.00,53.61,-0.95,53.61,...,3.0,1.0,1.0,2.0,2.0,2.0,9.0,6.0,1.0,0.0
270,270,DN9 3AN,Land,DN9,DN,0.34,0.00,53.50,-0.99,53.50,...,4.0,0.0,0.0,2.0,3.0,3.0,10.0,5.0,1.0,0.0
271,271,S9 1QQ,Land,S9,S,0.17,0.00,53.42,-1.39,53.42,...,2.0,1.0,1.0,0.0,4.0,3.0,10.0,4.0,3.0,2.0
272,272,DN31 2UT,Land,DN31,DN,1.20,0.00,53.58,-0.11,53.58,...,7.0,5.0,5.0,6.0,6.0,6.0,13.0,10.0,5.0,4.0
273,273,DN17 3DA,Land,DN17,DN,0.11,0.00,53.59,-0.73,53.59,...,4.0,2.0,2.0,3.0,4.0,3.0,10.0,7.0,2.0,1.0

In [6]:
max_band = 10
df2 = pd.DataFrame(index=list(range(max_band+1)))


for terminal in all_locations['Terminal']:
    data=[]
    bands = df1.groupby([terminal + '_band'])['wmsf'].sum()
    for x in range(max_band+1):
        data.append(bands.loc[x])
    df2[terminal] = data

df2

#for item in msf_array:

,FL Leeds,FL Doncaster,iPort,Tinsley,Gascoigne Wood,Wakefield,Teesport,East Midlands Gateway,Goole,Hatfield
0,7.28,8.47,8.47,2.41,2.26,5.77,1.07,6.69,1.99,4.81
1,6.59,12.53,14.40,12.26,13.89,13.34,1.63,4.99,5.44,8.47
2,11.36,14.12,13.59,19.30,9.26,12.40,4.86,9.52,19.70,18.84
3,15.43,14.08,12.94,13.03,12.89,10.37,3.86,4.73,14.08,10.83
4,5.35,8.11,7.90,15.21,10.09,7.34,3.58,6.40,7.60,12.27
5,9.81,11.05,11.05,3.06,7.88,7.07,1.08,11.17,8.13,5.32
6,5.98,2.14,2.14,9.19,7.07,4.12,0.66,11.29,3.81,8.07
7,12.98,5.06,5.06,0.50,11.56,13.35,12.32,10.83,8.20,2.46
8,2.30,4.00,4.00,0.60,3.03,5.22,8.30,6.21,6.85,7.92
9,11.48,1.07,3.28,1.53,11.08,6.97,15.91,2.06,7.90,1.63
10,0.91,3.08,0.86,3.54,0.46,3.54,6.93,1.98,0.85,3.08

In [7]:
df2.to_csv('dc_analysis/DC_Analysis_Output_all.csv')

In [12]:
max_band = 3
df3 = pd.DataFrame(index=all_locations['Terminal'].tolist())
catchment_data = []
doncaster_data=[]

for terminal in all_locations['Terminal']:
    catchment = df1[(df1[terminal + '_band'] <= max_band)]['wmsf'].sum() 
    doncaster_unreachable = df1[(df1[terminal + '_band'] <= max_band) & ~(df1['FL Doncaster_band'] <= max_band)]['wmsf'].sum()
    catchment_data.append(catchment)
    doncaster_data.append(doncaster_unreachable)

df3['Catchment_2'] = catchment_data
df3['Doncaster_Unreachable_2'] = doncaster_data
df3['Shared Catchment'] = df3['Catchment_2'] - df3['Doncaster_Unreachable_2']
df3

                       Catchment_2  Doncaster_Unreachable_2  Shared Catchment
FL Leeds                     40.67                     5.96             34.71
FL Doncaster                 49.19                     0.00             49.19
iPort                        49.41                     0.22             49.19
Tinsley                      47.00                     1.54             45.46
Gascoigne Wood               38.31                     5.66             32.65
Wakefield                    41.88                     5.26             36.62
Teesport                     11.42                    11.42              0.00
East Midlands Gateway        25.93                    16.92              9.01
Goole                        41.21                     2.04             39.17
Hatfield                     42.95                     0.61             42.34

In [18]:
13.73/(44.19+13.73)

0.2370511049723757

In [15]:
max_band = 3
df4 = pd.DataFrame(index=all_locations['Terminal'].tolist())
catchment_data = []
leeds_data=[]

for terminal in all_locations['Terminal']:
    catchment = df1[(df1[terminal + '_band'] <= max_band)]['wmsf'].sum() 
    leeds_unreachable = df1[(df1[terminal + '_band'] <= max_band) & ~(df1['FL Leeds_band'] <= max_band)]['wmsf'].sum()
    catchment_data.append(catchment)
    leeds_data.append(leeds_unreachable)

df4['Catchment_2'] = catchment_data
df4['Leeds_Unreachable_2'] = leeds_data
df4

                       Catchment_2  Leeds_Unreachable_2
FL Leeds                     52.98                 0.00
FL Doncaster                 60.38                14.64
iPort                        60.59                14.64
Tinsley                      57.21                13.33
Gascoigne Wood               49.56                 0.09
Wakefield                    54.23                 2.03
Teesport                     14.23                13.88
East Midlands Gateway        25.93                25.93
Goole                        52.82                 6.81
Hatfield                     54.85                 9.42

In [16]:
14/(52.98+14.64)

0.20703933747412007